includes:
    - '/root/.composer/vendor/phpstan/phpstan-symfony/extension.neon'
    - '/root/.composer/vendor/phpstan/phpstan-symfony/rules.neon'
    - '/root/.composer/vendor/phpstan/phpstan-mockery/extension.neon'
    - '/root/.composer/vendor/phpstan/phpstan-strict-rules/rules.neon'
    - '/root/.composer/vendor/phpstan/phpstan-phpunit/extension.neon'
    - '/root/.composer/vendor/phpstan/phpstan-phpunit/rules.neon'
    - '/root/.composer/vendor/phpstan/phpstan-doctrine/extension.neon'
    - '/root/.composer/vendor/phpstan/phpstan-doctrine/rules.neon'
    - '/root/.composer/vendor/phpstan/phpstan/conf/bleedingEdge.neon'

parameters:
    level: 8
    paths:
        - ../../src
        - ../../tests

    excludePaths:
        - /root/.composer/vendor
        - /builder/home/.composer/vendor

    symfony:
        container_xml_path: '%currentWorkingDirectory%/var/cache/dev/App_KernelDevDebugContainer.xml'

rules:
    - Nektria\PHPStan\AllowComparingOnlyComparableTypesRule

services:
    -
        class: Nektria\PHPStan\ValidateClassFieldsReturnsNotNullExtension
        tags:
            - phpstan.typeSpecifier.staticMethodTypeSpecifyingExtension
